.headerName {
  text-align: center;
  font-family: "Times New Roman";
  font-size: 48px;
}
.ingredientDropdown {
  margin-left: 42.5%;
  width: 30%;
}

.seasonalBox{
  margin-top: 50px;
  width: 80%;
  margin-left: 10%;
  text-align: center;
}

.ingTable{
  width: 75%;
  margin-left: 12.5%;
}
