.headerName {
  text-align: center;
  font-family: "Times New Roman";
  font-size: 48px;
}
.monthDropdown {
  margin-left: 42.5%;
  width: 30%;
}

.RecipeCards{
  margin-left: 10%;
  width: 80%;
  margin-bottom: 5%;
}
