<!-- <sui-select [(ngModel)]="selectedMonth" placeholder="Month">
    <sui-select-option value="jan"></sui-select-option>
    <sui-select-option value="feb"></sui-select-option>
    <sui-select-option value="mar"></sui-select-option>
    <sui-select-option value="apr"></sui-select-option>
    <sui-select-option value="may"></sui-select-option>
    <sui-select-option value="jun"></sui-select-option>
    <sui-select-option value="jul"></sui-select-option>
    <sui-select-option value="aug"></sui-select-option>
    <sui-select-option value="sep"></sui-select-option>
    <sui-select-option value="oct"></sui-select-option>
    <sui-select-option value="nov"></sui-select-option>
    <sui-select-option value="dec"></sui-select-option>

</sui-select> -->

<select class="ui selection dropdown" [(ngModel)]="selected" (change)="dropdownSelect(selected)">
  <option *ngFor="let month of monthArr" [value]= "month.value">
    {{month.name}}
  </option>
</select>

<br>
<button class="ui primary button submitButton">
  Select a month
</button>
