<h1 class="headerText"> {{resultFood.food_name + ' Availability'}}</h1>
<table class="ui celled table">
  <thead>
    <tr>
      <th>Month</th>
      <th>Available</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="ui ribbon label">January</div>
      </td>
      <td>{{resultFood.jan === true ? 'Available' : 'Not Available' }}</td>
    </tr>
    <tr>
      <td>
        <div class="ui ribbon label">February</div>
      </td>
      <td>{{resultFood.feb === true ? 'Available' : 'Not Available' }}</td>
    </tr>
    <tr>
      <td>
        <div class="ui ribbon label">March</div>
      </td>
      <td>{{resultFood.mar === true ? 'Available' : 'Not Available' }}</td>
    </tr>
    <tr>
      <td>
        <div class="ui ribbon label">April</div>
      </td>
      <td>{{resultFood.apr === true ? 'Available' : 'Not Available' }}</td>
    </tr>
    <tr>
      <td>
        <div class="ui ribbon label">May</div>
      </td>
      <td>{{resultFood.may === true ? 'Available' : 'Not Available' }}</td>
    </tr>
    <tr>
      <td>
        <div class="ui ribbon label">June</div>
      </td>
      <td>{{resultFood.jun === true ? 'Available' : 'Not Available' }}</td>
    </tr>
    <tr>
      <td>
        <div class="ui ribbon label">July</div>
      </td>
      <td>{{resultFood.jul === true ? 'Available' : 'Not Available' }}</td>
    </tr>
    <tr>
      <td>
        <div class="ui ribbon label">August</div>
      </td>
      <td>{{resultFood.aug === true ? 'Available' : 'Not Available' }}</td>
    </tr>
    <tr>
      <td>
        <div class="ui ribbon label">September</div>
      </td>
      <td>{{resultFood.sep === true ? 'Available' : 'Not Available' }}</td>
    </tr>
    <tr>
      <td>
        <div class="ui ribbon label">October</div>
      </td>
      <td>{{resultFood.oct === true ? 'Available' : 'Not Available' }}</td>
    </tr>
    <tr>
      <td>
        <div class="ui ribbon label">November</div>
      </td>
      <td>{{resultFood.nov === true ? 'Available' : 'Not Available' }}</td>
    </tr>
    <tr>
      <td>
        <div class="ui ribbon label">December</div>
      </td>
      <td>{{resultFood.dec === true ? 'Available' : 'Not Available' }}</td>
    </tr>
  </tbody>
</table>
